.c-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center
}

.c-header > div {
  padding-right: 3px;
}

/**
 * @since 2.0.62
 */
.f12-captcha {
  display: block;
  width: 100%;
}

$template_1_font_size: 1.05rem;
$template_1_border_color: #ccc;

.f12-captcha {
  &.template-1 {
    background-color: #fff;
    border: 1px solid $template_1_border_color;
    padding: 10px 15px 15px 15px;
    position: relative;
    border-radius: 3px;


    .c-label {
      left: 10px;
      font-size: 12px;
      color: #777;
    }

    .c-data {
      font-size: $template_1_font_size;
    }

    .c-input {
      display: flex;
      flex-flow: row nowrap;
    }

    .c-header {
      border: 1px solid $template_1_border_color;
      padding: 5px 5px 5px 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      width: 100%;
      background-color: #fff;
      border-radius: 3px;
    }

    .c-hint {
      font-size: 12px;
      margin-left: -10px;
      color: #777;
      line-height: 100%;
    }

    .c-reload {
      padding: 0;

      a img {
        border: 0;
      }
    }

    input.f12c {
      display: block;
      border: 0px solid $template_1_border_color;
      margin-left: -10px;
      background-color: #fff;
      font-size: $template_1_font_size;
      padding: 3px;
      max-width: 100px;
      height:24px;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

  }
}

.f12-captcha-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.f12-captcha-overlay::after {
  content: "";
  width: 24px; height: 24px;
  border: 3px solid #ccc;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: f12-spin 0.8s linear infinite;
}

@keyframes f12-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
